{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}

{% block main %}

    <main>
      <div class="container my-5">
        <h1>О нас</h1>
        <p>
          Мы стремимся предоставить нашим клиентам лучший опыт аренды жилья,
          предлагая широкий выбор объектов, соответствующих различным
          потребностям и бюджетам.
        </p>
        <p>
          Наша цель — сделать процесс поиска и аренды жилья простым и удобным
          для каждого клиента.
        </p>
        <h2>Наши ценности</h2>
        <p>
          Клиентоориентированность: Мы всегда ставим интересы наших клиентов на
          первое место и стремимся превзойти их ожидания.
        </p>
        <p>
          Прозрачность: Мы гарантируем честные условия аренды и полную
          информацию о каждом объекте.
        </p>
        <p>
          Качество: Мы тщательно отбираем жилье, чтобы гарантировать высокие
          стандарты качества и комфорта.
        </p>
        <h2>Почему выбирают нас?</h2>
        <p>
          Широкий выбор: У нас есть разнообразные варианты жилья — от уютных
          квартир до роскошных вилл, чтобы удовлетворить любые запросы.
        </p>
        <p>
          Профессиональная команда: Наша команда состоит из опытных
          специалистов, готовых помочь вам на каждом этапе аренды.
        </p>
        <p>
          Удобные инструменты: Мы предлагаем интуитивно понятный интерфейс для
          поиска и бронирования жилья, а также систему отзывов, чтобы вы могли
          принимать обоснованные решения.
        </p>
        <h2>Наши достижения</h2>
        <p>
          Мы гордимся тем, что помогли тысячам клиентов найти идеальное жилье
          для отдыха или длительного проживания.
        </p>
        <p>
          Наша платформа постоянно развивается, и мы внедряем новые функции,
          чтобы улучшить пользовательский опыт.
        </p>
        <h2>Свяжитесь с нами</h2>
        <p>
          Если у вас есть вопросы или вы хотите узнать больше о наших услугах,
          не стесняйтесь обращаться к нам. Мы всегда готовы помочь вам!
        </p>
      </div>
    </main>

    {% endblock %}