<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
      
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
<link 
  rel="stylesheet" 
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  </head>
  <body>
    <header class="p-3 text-bg-success">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <img src="{{ url_for('static', filename='img/icons/icon.png') }}" class="icon" alt="" />
            <h2>Аренда365</h2>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mx-5 mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="/" class="nav-link px-2 text-white">Главная</a>
            </li>
            <li><a href="/catalog" class="nav-link px-2 text-white">Каталог</a></li>
            <li>
              <a href="/about" class="nav-link px-2 text-white">О нас</a>
            </li>
          </ul>

          <div class="text-end">
            {%if 'name' in session and active_user %}
            <a href="/my_chats" class="btn btn-outline-light me-2">Мои чаты <span class="badge bg-danger">{{ unread_messages }}</span></a>
            <a href="/profile" class="btn btn-outline-light me-2 position-relative">
              Профиль
              {% if unread_notifications > 0 %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ unread_notifications }}
            </span>
            {% endif %}
            </a>
            <a href="/logout"  class="btn btn-warning">Выйти</a>
            {% else %}
            <a href="/login" class="btn btn-outline-light me-2">Вход</a>
             <a href="/reg"  class="btn btn-warning">Регистрация</a>
             {%endif%}
          </div>
        </div>
      </div>
    </header>

    {% block main %} {% endblock %}
   
    <footer class="py-3 text-bg-success">
      <ul class="nav justify-content-center pb-3 mb-3">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-white">Главная</a>
        </li>
        <li class="nav-item">
          <a href="/catalog" class="nav-link px-2 text-white">Каталог</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link px-2 text-white">О нас</a>
        </li>
      </ul>
      <p class="text-center text-body-white">© 2025 GGKTTiD, Inc</p>
    </footer>

    <script>
      function changeImage(src) {
          document.getElementById('mainImage').src = src;
      }
  </script>

    <script
      src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
      
    ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
   
   {% block js %} {% endblock %}

  
  </body>
</html>
